In [4]:
print("Hello")

Hello

In [5]:
print("1111")

1111

In [6]:
print("5343trwe4t")

5343trwe4t

hello

# Hello
## Hello
### Hello
#### Hello

<h1>Heading</h1>

- This is bullet point
    - subpoint
> Highligter

$x^2 + y^2$

- Core Python
    - Variables
    - Datatypes
    - Data Structures
    - Loops
    - Functions

### Variables

- Always starts with letters or underscore
- Cannot start with numbers or any special characters
- Cannot include special characters other than underscore anywhere
- You can assing multiple variables at a Time
- Only an underscore can also be a variable
- Can include numbers from second character of a variable

In [8]:
_ = 10

In [9]:
- = 10

SyntaxError: invalid syntax (4240660296.py, line 1)

In [12]:
x_ = 10 # Assign a value
x_

10

In [13]:
x_y_z____ = 10000
x_y_z____

10000

In [14]:
x98 = 98
x98

98

In [15]:
x9yyy = 67
x9yyy

67

In [16]:
x,y,z = 10,20,30

In [17]:
x

10

In [18]:
x,y,z

(10, 20, 30)

## Datatypes

- strings
- Integers
- FloatingPoint
- Boolean
- Complex

In [20]:
type(x) # Prints the datatype of a variable

int

In [22]:
string = "sample string"
type(string)

str

In [23]:
string1 = 'simple string'
string1

'simple string'

In [25]:
string2 = "hello this is 'python'"
print(string2)

hello this is 'python'

In [27]:
string3 = "hello this is \"python\""
print(string3)

hello this is "python"

In [29]:
string3 = """hello this is "python" """
print(string3)

hello this is "python"

In [30]:
string3 = '''hello this is "python" '''
print(string3)

hello this is "python"

In [31]:
print("""anything is strings and anything can be "quotes" """)

anything is strings and anything can be "quotes"

In [32]:
age = 30
name = "someone"

In [34]:
print("My name is ",name)
print("My age is ",age)

My name is  someone
My age is  30

In [35]:
print("My name is ",name,"My age is ",age)

My name is  someone My age is  30

In [36]:
print("My name is "+name +"My age is "+age)

TypeError: can only concatenate str (not "int") to str

In [37]:
print("My name is "+name +"My age is "+str(age)) # Type conversion applied to age variable

My name is someoneMy age is 30

In [38]:
print("My name is {} and my age is {}".format(name,age))

My name is someone and my age is 30

In [39]:
print("My name is {1} and my age is {0}".format(name,age))

My name is 30 and my age is someone

In [40]:
print(f"My name is {name} and my age is {age}")

My name is someone and my age is 30

In [41]:
float1 = 3.4
float1

3.4

In [43]:
str(float1)

'3.4'

In [44]:
int(float1)

3

In [45]:
float(x)

10.0

In [46]:
import math

In [47]:
math.ceil(float1)

4

In [48]:
math.floor(float1)

3

In [49]:
string5 = "7"
int(string5)

7

In [50]:
float(string5)

7.0

In [51]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [52]:
ord("a")

97

In [53]:
chr(100)

'd'

In [54]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

In [55]:
f = False
t = True

In [57]:
type(f),type(t)

(bool, bool)

In [58]:
if 0.0:
    print(True)

In [61]:
if 3-3:
    print(True)

else:
    print(False)

False

In [60]:
if 3-6: # if -3:
    print(True)

True

In [67]:
type(2+3j)

complex

In [66]:
0+1j

1j

In [ ]:
str
list
tuple
set
dict

In [68]:
a = [1,23,45,6,"a",True,False,3.4,2+4j]
a

[1, 23, 45, 6, 'a', True, False, 3.4, (2+4j)]